@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=VT323&display=swap');

h1 {
    text-align: center;
    font-family: 'VT323', monospace;
    letter-spacing: 1em;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.controls {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
}

.button {
    background-color: black; 
    font-family: 'Share Tech Mono', monospace;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }

.grid {
    justify-content: center;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 1px solid black;
    border-radius: 1px;
    height: 600px;
    width: 600px;
}

.cell {
    background-color: hotpink;
    border: 0.5px solid pink;
}